<div id="<%= dom_id badge %>">
  <p>
    <strong>Name:</strong>
    <%= badge.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= badge.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= badge.price %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= badge.image_url %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= badge.category_id %>
  </p>

</div>
