<p style="color: green"><%= notice %></p>

<% content_for :title, "Badges" %>

<h1>Badges</h1>

<%= form_with url: badges_path, method: :get, local: true, class: "form-inline mb-4" do |form| %>
  <div class="form-group mr-2">
    <%= form.label :category_id, "Filtrar por Categoria:", class: "mr-2" %>
    <%= form.collection_select :category_id, Category.all, :id, :name, { include_blank: "Todas as Categorias" }, { class: "form-control" } %>
  </div>
  <%= form.submit "Filtrar", class: "btn btn-info" %>
<% end %>

<div class="container">
  <div class="row">
    <% @badges.each do |badge| %>
      <div class="col-md-4 portfolio-item">
        <div class="card mb-4 shadow-sm">
          <img src="<%= badge.image_url %>" class="card-img-top" alt="<%= badge.name %>">
          <div class="card-body">
            <h5 class="card-title"><%= badge.name %></h5>
            <p class="card-text"><%= badge.description %></p>
            <p class="card-text"><strong>Preço:</strong> <%= badge.price %></p>
            <p class="card-text"><strong>Categoria:</strong> <%= badge.category.name %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <%= link_to 'Mostrar', badge, class: "btn btn-sm btn-primary" %>
                <%= link_to 'Editar', edit_badge_path(badge), class: "btn btn-sm btn-warning" %>
                <%= link_to 'Excluir', badge, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-sm btn-danger" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "New badge", new_badge_path, class: "btn btn-success" %>